{% extends "exam.html" %}


{% block title %}Survey{% endblock %}

{% macro quick_form(form, action) -%}
    <form action="{{ action }}" class="form" method="POST">
        {% for field in form %}
            {% if field.type in ('HiddenField', 'CSRFTokenField') %}
                {{ field() }}
            {% elif field.type == 'SubmitField' %}
                {{ field(class_="btn btn-primary") }}
            {% else %}
                {{ form_group(field) }}
            {% endif %}
        {% endfor %}
    </form>
{% endmacro %}

{% macro form_group(field) -%}
    <div class="form-group row required">
        {{ field.label(class_="col-sm-2 col-form-label") }}
        {% if field.type in ['MultiCheckboxField', 'RadioField'] %}
            {% if field.errors %}
                <div class="form-control is-invalid">
            {% else %}
                <div class="form-control col-sm-6">
            {% endif %}
            {% for choice in field %}
                <div class="form-check form-check-inline">
                    {{ choice(class_="form-check-input") }}
                    {{ choice.label(class_="form-check-label") }}
                </div>
            {% endfor %}
            </div>
    {% else %}
            {% if field.errors %}
                {{ field(class_="form-control is-invalid") }}
            {% else %}
                {{ field(class_="form-control col-sm-6") }}
            {% endif %}
        {% endif %}
        {% if field.errors %}
            {%  for error in field.errors %}
                <div class="invalid-feedback">
                    {{ error }}
                </div>
            {% endfor %}
        {% endif %}
    </div>
{% endmacro %}

{% block content %}
    <div class="container">
        <h3>Form:</h3>
        {{ quick_form(form, '/survey') }}
    </div>
{% endblock %}